asn1crypto==0.24.0
baseplate==0.27.0
cffi==1.11.5
contextlib2==0.5.4
cryptography==2.3.1
gevent==1.2.2
greenlet==0.4.12
idna==2.7
ndg-httpsclient==0.5.0
posix-ipc==1.0.0
pyasn1==0.4.4
pycparser==2.19
PyJWT==1.6.3
pyOpenSSL==18.0.0
raven==5.27.0
redis==2.10.5
requests==2.4.3
six==1.11.0
Thrift==0.1
urllib3==1.12
